#board {
    width: fit-content;
    min-width: 100px;
    height: fit-content;
    min-height: 100px;
    padding: 20px;
    margin: auto;


    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
    background-color: rgb(71, 55, 43);
    color: white;
}

#board > h1 {
    width: 100%;
    text-align: center;
}

#tool {
    display: flex;
    width: fit-content;
    margin: auto;
}

#tool div {
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 0px;
    transition-duration: 0.5s;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    border-radius: 45%;
    text-shadow: 0px 0px 20px #0005;
}

#board[data-tool='🚩'] .flag,
#board[data-tool='⛏️'] .mine {
    background-color: rgb(95, 153, 20);
    transform: scale(1.2);
    box-shadow: 0px 0px 20px black;
}

td {
    border-radius: 10%;
    width: 30px;
    height: 30px;
    cursor: default;
    font-size: 20px;
}

td[data-state="revealed"] {
    background-color: wheat;
    color: black;
    text-align: center;
    cursor: default;
}


td[data-state="blank"] {
    cursor:pointer;
}

td[data-state="blank"],
td[data-state="flag"] {
    background-color: rgb(255, 255, 255);
}

td[data-state="flag"]:after {
    content: '🚩';
}

td[data-state="exploded"] {
    background-color: rgb(255, 185, 185);
}

td[data-state="exploded"]:after {
    content: '🧨'
}

#board[data-tool='🚩'] td[data-state="flag"] {
    cursor: pointer;
}
